<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h2>Вход</h2>
    {% if user.is_authenticated %}
    <p>Вы уже выполнили вход</p>
    {% else %}
        <form method="post">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Войти">
        </form>
    {% endif %}
</body>
</html>