<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Содержание категории</title>
</head>
<body>
<h1>Содержание категории</h1>
<div>
{% for subcategory in subcategories %}
    <a href="{% url 'subcategory' pk=subcategory.id%}">{{ subcategory.name }}<br><br></a>
{% endfor %}
</div>
</body>
</html>