<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% url 'index' %}">Вернуться на главную</a>
    <p>
        {{ detail1.title }}
    </p>
    {% if detail1.picture %}
        <img src="{{ detail1.picture.url }}" alt="" width="300">
    {% endif %}

    <p>
        {{ detail1.text }}
    </p>
    Тэги:
    {% for t in tags %}
        <a href="{% url 'tags' pk=t.id %}">{{ t.name }}</a>
    {% endfor %}
    <p>{{ detail1.data }}</p>
    <p>
        Поставить лайк:
        <a href="{% url "likes" pk=detail1.id pk2=user.id %} ">
            <img src="{{ icon_like }}" alt="" width="16" height="16"> </a><br><br>
        Всего лайков: {{ detail1.like }}
    </p>
    <p>
        <img src="../media/images/eye.svg" height="16" width="16" alt=""> Просмотры: {{ detail1.browsing }}
    </p>
    <form method="POST" enctype="multipart/form-data" action="{% url "add_comment" pk=detail1.id %}" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="save btn btn-default">
        <img src="../media/images/comment.jpeg" alt=""> Оставьте комментарий
    </form>
    <br><br>
    {% for comment in comments %}
        <p>{{ comment.user.username }}</p>
        <p>
            {{ comment.text }}
        </p>
        <p>{{ comment.data }}</p>
    {% endfor %}
    <div>
        {% for post in post_list %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
        <p>
            <a href="{% url 'index' %}">Вернуться на главную</a>
        </p>
    </div>
</div>
</body>
</html>