{% extends 'adam.html' %}
{% load staticfiles %}

{% block content %}
    <div class="fh5co-loader"></div>
    <div id="page">
        <div id="fh5co-aside" style="background-image: url({% static 'images/image_1.jpg' %})">
            <div class="overlay"></div>
            <nav role="navigation">
                <ul>
                    <li><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                </ul>
                <form action="{% url 'search_results' %}" method="get">
                    <input name="q" type="text" placeholder="Поиск статьи...">
                </form>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Выйти</a>
                    <p><a href="{% url 'profile' pk=user.id %}">Войти в профиль</a></p>
                {% else %}
                    <p><a href="{% url 'login' %}">Войти</a></p>
                    <p><a href="{% url 'register' %}">Регистрация</a></p>
                {% endif %}
                {% if categories %}
                    <div>
                        Категории:
                        {% for category in categories %}
                            <ul>
                                <a href="{% url 'category' pk=category.id %}">
                                    <li>{{ category.name }}</li>
                                </a>
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}
            </nav>
            <div class="featured">
                {% if user.is_authenticated %}
                    <p>Добро пожаловать, {{ user.username }}!</p>
                {% endif %}
                <span>Личный блог Вадима Докучаева</span>
                <h2>Самые просматриваемые посты: </h2>
                <ol>
                    {% if populars %}
                        {% for popular in populars %}
                            <li>
                                <a href="{% url 'detail' pk=popular.id %}">{{ popular.title }}</a>
                            </li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                <a href="{% url 'post_new' %}">Добавить пост</a>
            </div>
        </div>
        <div id="fh5co-main-content">
            <div class="fh5co-post">
                <div class="fh5co-entry padding">
                    {% if blogs %}
                        {% for blog in blogs %}
                            <div class="wrapper-item-blog">
                                <div class="wrapper-item-text">
                                    <span class="{{ blog.data }}"></span>
                                    <h2><a href="{% url 'detail' pk=blog.id %}">{{ blog.title }}</a></h2>
                                    <p>{{ blog.text|truncatewords:15 }}</p>
                                    <div class="wrapper__icon-btn">
                                        <img class="icon-btn" src="{% static 'images/heart.svg' %}"
                                             alt=""> {{ blog.like }}
                                        <img class="icon-btn" src="{% static 'images/eye.svg' %}"
                                             alt=""> {{ blog.browsing }}
                                        <img class="icon-btn" src="{% static 'images/comment.svg' %}"
                                             alt=""> {{ blog.comment }}
                                    </div>
                                </div>
                                {% if blog.picture %}
                                    <img class="photo-prev" src="{{ blog.picture.url }}" alt="">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
{% endblock %}

