<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список постов с тэгом</title>
</head>
<body>
<p>
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}<br><br></a>
    {% endfor %}
</p>
</body>
</html>