{% extends 'adam.html' %}
{% load staticfiles %}

{% block content %}
    <h1>Добавить пост</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url "post_new" %}" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="save btn btn-default" value="Сохранить">
    </form>

{% endblock %}

    