<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
</head>
<body>
<h1>Изменить профиль</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url "profile_edit" %}" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="save btn btn-default" value="Сохранить">
    </form>
</body>
</html>