<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<div>
    <p>Имя пользователя: {{ profiles.user }}</p>
    <p>Дата рождения: {{ profiles.user_birth }}</p>
    <p>Город: {{ profiles.user_city }}</p>
    <p>Количество избранных постов: {{ profiles.user_best }}</p>
    <p>Оставлено лайков: {{ profiles.user_like }}</p>
    <p>Карма пользователя: {{ profiles.user_karma }}</p>
    <p>Биография: {{ profiles.user_bio }}</p>
</div>
<p>
    <a href="{% url 'profile_edit'  %}">Редактировать профиль</a>
</p>
</body>
</html>