<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
<h1>Добро пожаловать, {{ new_user.first_name }}</h1>
<p>Ваш аккаунт был успешно создан. Теперь вы можете в него <a href="{% url 'profile' pk=new_user.id%}">войти</a> </p>
</body>
</html>