<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание аккаунта</title>
</head>
<body>
<h1>Регистрация</h1>
    <p>Пожалуйста, заполните форму:</p>
    <form action="" method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
        <p><input type="submit" value="Создать аккаунт"></p>
    </form>
</body>
</html>