{% extends 'adam.html' %}
{% load staticfiles %}

{% block content %}
    <ul>
        {% for postmodel in object_list %}
            <li>
                <a href="{{ postmodel.get_absolute_url }}">{{ postmodel.title }}</a><br>
                {{ postmodel.text }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}