{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Story &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="freehtml5.co"/>

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

</head>
<body class="single">
<div class="fh5co-loader"></div>
<div id="page">
    <div id="fh5co-aside" style="background-image: url({% static '/images/wow.jpg' %})"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <nav role="navigation">
            <ul>
                <li><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
            </ul>
        </nav>
        <div class="page-title">
            {% if detail1.picture %}
                <img src="{{ detail1.picture.url }}" alt="">
            {% endif %}
            <span>{{ detail1.data }}</span>
            <h2>{{ detail.title }}</h2>
        </div>
    </div>
    <div id="fh5co-main-content">
        <div class="fh5co-post">
            <div class="fh5co-entry padding">
                <div>
                    {{ detail1.text }}
                    <p>Автор: {{ detail1.author }}<br>{{ detail1.data }}</p>
                </div>
                <p>Тэги: {% for t in tags %}<a href="{% url 'tags' pk=t.id %}">{{ t.name }} </a>{% endfor %}</p>
                <p>Рейтинг: {{ rating }}</p>
            </div>
            <div>
                <p>Поставить лайк:<a href="{% url "likes" pk=detail1.id pk2=user.id %} ">
                    <img src="{% static 'images/heart.svg' %}" alt="" width="16" height="16"> </a>{{ detail1.like }}</p>
                <p>
                    <img src="{% static 'images/eye.svg' %}" height="16" width="16" alt="">{{ detail1.browsing }}
                </p>
            </div>
            <div>
                <form method="POST" enctype="multipart/form-data" action="{% url "add_comment" pk=detail1.id %}"
                      class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Оставить комментарий" class="save btn btn-default">
                    <img src="{% static 'images/comment.svg' %}" alt="" width="16" height="16">
                </form>
            </div>
        </div>
        <div>
            {% for comment in comments %}
                <p>{{ comment.user.username }}<br>{{ comment.text }}<br>{{ comment.data }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<footer>
    <div>
        &copy; 2016 Совместно с администрацией Липецкой области.
    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

