<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Содержание подкатегории</title>
</head>
<body>
<h1>Содержание подкатегории</h1>
<div>
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.title }}<br><br></a>
    {% endfor %}
</div>
</body>
</html>